body
{
	background: url("background.png");
	background-size: cover;
	padding-top: 50px;
}

.hide2
{
	display: none;
}

.error
{
	background-color: #FFAAAA;
	border: 1px solid black;
	box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 30px;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -250px;
	width: 500px;
	padding: 20px;
}